<nav class="navbar" data-bs-theme="dark" style="background-color: #272C32;">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Plant&Me</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/plantae" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plants
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/plantae/succulent">Succulent plants</a></li>
              <li><a class="dropdown-item" href="/plantae/house">House plants</a></li>
              <li><a class="dropdown-item" href="/plantae/bonsai">Bonsai plants</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </nav>