{% extends 'base.html' %}

{% block content %}
<div class="b">
<h1 class="plants">{{ plant_details.name }}</h3>
<img src="{{ plant_details.url }}" alt="">
<p> {{ plant_details.description }}</p>
<ul class="plant">
    {%if plant_details.note == "" %}
    <li> Note: None.</li>
    {% else %}
    <li>Note: {{ plant_details.note }}</li>
    {%endif%}
    <li>Price: {{ plant_details.price }} php each</li>
    {%if plant_details.amount ==0 %}
    <li> Sold out.</li>
    {% else %}
    <li>Quantity available: {{ plant_details.amount }} pieces</li>
    {%endif%}
</ul>
</div>
{% endblock %}